Repository nbbaier/idea-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: check, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,json,jsonc}"
      run: bun run check
    typecheck:
      glob: "*.ts"
      run: bun run typecheck

Simplify alchemy.run.ts: remove console.log statements and extract PR comment logic
  alchemy.run.ts
Due: check, typecheck

Add Temporal Snake HTML tool in vibes/ directory
  vibes/temporal-snake.html
Due: none

Update vibes/temporal-snake.html
  vibes/temporal-snake.html
Due: none

idea: fun-little-app-idea-opportunist-each-night-it - research complete
  ideas/2026-02-21-fun-little-app-idea-opportunist-each-night-it/research.md
Due: none

log: fun-little-app-idea-opportunist-each-night-it
  ideas/2026-02-21-fun-little-app-idea-opportunist-each-night-it/exploration-log.json
Due: check

fix: restore job ID display after successful submission
  public/index.html
Due: none

chore: clean up assets and config
  ideas/2026-02-21-fun-little-app-idea-opportunist-each-night-it/exploration-log.json
  vibes/temporal-snake.html
  wrangler.jsonc
Due: check

refactor: simplify demo mode check and remove unused error parameter
  public/index.html
Due: none

refactor: simplify JavaScript in public/index.html
  public/index.html
Due: none

refactor: remove hollow abstractions and dead code
  src/cli/commands/submit.ts
  src/cli/lib/config.ts
  src/cli/lib/output.ts
  src/index.ts
  src/utils/retry.test.ts
  src/utils/retry.ts
  src/utils/slug.ts
Due: check, typecheck

refactor: simplify slug validation code
  src/utils/slug.ts
Due: check, typecheck

Improve job querying, stream polling, and webhook resilience
  src/index.test.ts
  src/index.ts
  src/jobs.ts
  src/utils/webhook.test.ts
  src/utils/webhook.ts
Due: check, typecheck

feat: add Prompt Archaeology Lab and Tailwind Bundle Optimizer UIs
  bun.lock
  idea-explorer-architecture.html
  package.json
  public/demo.html
  public/index.html
  public/tools/prompt-archaeology-lab.html
  public/tools/tailwind-bundle-optimizer.html
  scripts/gh/shared.ts
  scripts/gh/update-idea-status.ts
  src/cli/commands/init.ts
  src/cli/commands/submit.ts
  src/cli/lib/api.ts
  src/cli/prompts/submit.ts
  src/clients/anthropic.ts
  src/clients/github.ts
  src/index.test.ts
  src/index.ts
  src/jobs.ts
  src/prompts/index.ts
  src/utils/stream-buffer.ts
  src/utils/webhook.ts
  src/workflows/exploration.ts
  vitest.config.ts
Due: check, typecheck

chore: delete obsolete exploration logs and research files
  ideas/2026-02-03-aa46deaf/exploration-log.json
  ideas/2026-02-03-aa46deaf/research.md
  ideas/2026-02-03-generic-content-slug/exploration-log.json
  ideas/2026-02-03-generic-content-slug/research.md
  ideas/2026-02-03-hexadecimal-code-analysis/exploration-log.json
  ideas/2026-02-03-hexadecimal-code-analysis/research.md
  ideas/2026-02-03-i-dont-have-enough-context-to-generate-a/exploration-log.json
  ideas/2026-02-03-i-dont-have-enough-context-to-generate-a/research.md
Due: check

idea: find-free-things-to-do-in-chicago-every-week-and - research complete
  ideas/2026-06-30-find-free-things-to-do-in-chicago-every-week-and/research.md
Due: none

log: find-free-things-to-do-in-chicago-every-week-and
  ideas/2026-06-30-find-free-things-to-do-in-chicago-every-week-and/exploration-log.json
Due: check

fix(routing): use not_found_handling none so /demo/:jobId falls through to worker
  alchemy.run.ts
  wrangler.jsonc
Due: check, typecheck

Update Bun setup to use version 2 and specific version
  .github/workflows/pr-preview.yml
Due: none

Update Bun setup to use specific version
  .github/workflows/publish.yml
Due: none

Update Bun version in publish workflow
  .github/workflows/publish.yml
Due: none

chore: rename biome.json to biome.jsonc
  biome.jsonc
  ideas/2026-06-30-find-free-things-to-do-in-chicago-every-week-and/exploration-log.json
Due: check

idea: testing-testing - research complete
  ideas/2026-06-30-testing-testing/research.md
Due: none

log: testing-testing
  ideas/2026-06-30-testing-testing/exploration-log.json
Due: check

refactor: rely on file.type to detect non-files and remove helper
  src/clients/tool-executor.ts
Due: check, typecheck

docs: unify AGENTS.md/CLAUDE.md and add agent-skill config docs
  AGENTS.md
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  docs/idea-explorer-demo-ui-spec.md
Due: none

chore: ensure newline at end of file in exploration-log.json
  ideas/2026-06-30-testing-testing/exploration-log.json
Due: check

docs: point docs/agents/domain.md at GLOSSARY.md for mattpocock/skills v1.3
  AGENTS.md
  docs/agents/domain.md
Due: none

docs: refresh docs/agents/issue-tracker.md from mattpocock/skills v1.3.1
  docs/agents/issue-tracker.md
Due: none

docs: unlink CLAUDE.md
  CLAUDE.md
Due: none
