Repository nbbaier/idea-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: check, typecheck

check:
  run: bun run check

typecheck:
  run: bun run typecheck

docs: update cli references
  AGENTS.md
  README.md
  docs/cli-spec.md
Due: none

fix: apply config defaults for stdin and skip, use correct schema for webhook validation
  src/cli/commands/submit.ts
  src/cli/prompts/submit.ts
  src/index.ts
  src/jobs.test.ts
Due: check, typecheck

idea: a-weird-variant-of-snake - research complete
  ideas/2026-01-22-a-weird-variant-of-snake/research.md
Due: none

log: a-weird-variant-of-snake
  ideas/2026-01-22-a-weird-variant-of-snake/exploration-log.json
Due: check

idea: a-menubar-app-that-helps-me-see-all-my-workers - research complete
  ideas/2026-01-22-a-menubar-app-that-helps-me-see-all-my-workers/research.md
Due: none

log: a-menubar-app-that-helps-me-see-all-my-workers
  ideas/2026-01-22-a-menubar-app-that-helps-me-see-all-my-workers/exploration-log.json
Due: check

feat(cli): add encrypted token storage
  src/cli/commands/auth.ts
  src/cli/commands/init.ts
  src/cli/commands/status.ts
  src/cli/commands/submit.ts
  src/cli/index.ts
  src/cli/lib/config.ts
  src/cli/lib/crypto.ts
  src/cli/lib/output.ts
Due: check, typecheck

idea: using-jdxusage-as-a-base-spec-for-cli-tools-built - research complete
  ideas/2026-01-23-using-jdxusage-as-a-base-spec-for-cli-tools-built/research.md
Due: none

log: using-jdxusage-as-a-base-spec-for-cli-tools-built
  ideas/2026-01-23-using-jdxusage-as-a-base-spec-for-cli-tools-built/exploration-log.json
Due: check

docs: add comprehensive test coverage analysis
  docs/test-coverage-analysis.md
Due: none

feat: add HTML form frontend for idea submission
  public/index.html
  src/index.ts
  wrangler.jsonc
Due: check, typecheck

chore: fix formatting in exploration log files
  ideas/2026-01-22-a-menubar-app-that-helps-me-see-all-my-workers/exploration-log.json
  ideas/2026-01-22-a-weird-variant-of-snake/exploration-log.json
  ideas/2026-01-23-using-jdxusage-as-a-base-spec-for-cli-tools-built/exploration-log.json
Due: check

chore: remove v2 Sandbox migration from migrations
  wrangler.jsonc
Due: check

updated styling on form
  public/index.html
Due: none

updated styling on form
  public/index.html
  wrangler.jsonc
Due: check

fix: prevent XSS vulnerabilities in form result display
  public/index.html
Due: none

idea: an-app-that-takes-html-with-tailwind-utility - research complete
  ideas/2026-01-24-an-app-that-takes-html-with-tailwind-utility/research.md
Due: none

log: an-app-that-takes-html-with-tailwind-utility
  ideas/2026-01-24-an-app-that-takes-html-with-tailwind-utility/exploration-log.json
Due: check

perf: store KV metadata on job create/update
  ideas/2026-01-24-an-app-that-takes-html-with-tailwind-utility/exploration-log.json
  src/jobs.test.ts
  src/jobs.ts
Due: check, typecheck

idea: an-astro-integration-or-component-that-makes-it - research complete
  ideas/2026-01-25-an-astro-integration-or-component-that-makes-it/research.md
Due: none

log: an-astro-integration-or-component-that-makes-it
  ideas/2026-01-25-an-astro-integration-or-component-that-makes-it/exploration-log.json
Due: check

idea: a-recipe-generator - research complete
  ideas/2026-01-25-a-recipe-generator/research.md
Due: none

log: a-recipe-generator
  ideas/2026-01-25-a-recipe-generator/exploration-log.json
Due: check

feat: add assets ignore
  public/.assetsignore
  public/index.html
Due: none

added favicon
  public/ai-idea-stroke-rounded.svg
  public/index.html
Due: none

docs: add alchemy migration plan
  docs/alchemy-migration-plan.md
Due: none

feat: migrate from Wrangler to Alchemy
  .gitignore
  alchemy.run.ts
  bun.lock
  package.json
  src/index.ts
Due: check, typecheck

chore: add final newline to exploration log files
  ideas/2026-01-25-a-recipe-generator/exploration-log.json
  ideas/2026-01-25-an-astro-integration-or-component-that-makes-it/exploration-log.json
Due: check

fixed merge conflict
  package.json
Due: check

chore: add pr-preview and publish workflows
  .github/workflows/pr-preview.yml
  .github/workflows/publish.yml
  alchemy.run.ts
  tsconfig.json
  types/env.d.ts
  worker-configuration.d.ts
Due: check, typecheck

chore: remove duplicate ApiError and clean up unused code
  bun.lock
  package.json
  scripts/idea-status.ts
  src/cli/lib/api.ts
  src/cli/lib/config.ts
  src/cli/lib/output.ts
  src/errors.ts
  src/jobs.ts
  src/types/api.ts
Due: check, typecheck

Update pr-preview.yml
  .github/workflows/pr-preview.yml
Due: none

refactor: rename github env vars to GH_ prefix across codebase
  .dev.vars.example
  README.md
  alchemy.run.ts
  src/index.ts
  src/workflows/exploration.ts
Due: check, typecheck

refactor(ci): reformat workflows and rename GH env vars
  .github/workflows/pr-preview.yml
  .github/workflows/publish.yml
Due: none

fix: add STAGE env var to cleanup-preview job
  .github/workflows/pr-preview.yml
Due: none

feat: adjust stage naming
  alchemy.run.ts
  package.json
  src/index.ts
Due: check, typecheck

chore: clean up cruft and consolidate docs
  .opencode/command/adopt-better-result.md
  .opencode/skill/better-result-adopt/SKILL.md
  .opencode/skill/better-result-adopt/references/tagged-errors.md
  archived/ARCHITECTURE-REVIEW.md
  archived/PLAN-workflows-migration.md
  archived/codebase-review-report.md
  archived/idea-skill/README.md
  archived/idea-skill/SKILL.md
  archived/idea-skill/scripts/claude-runner.sh
  archived/idea-skill/scripts/explore-idea.sh
  archived/idea-skill/scripts/notify-research-complete.sh
  archived/idea-skill/scripts/prompt-template.md
  archived/idea-skill/templates/idea-exploration-prompt.md
  docs/alchemy-migration-plan.md
  docs/cli-simplification-plan.md
  docs/cli-simplifications.md
  docs/future-agentic-directions.md
  docs/ideas.md
  docs/improvement-ideas.md
  docs/plan-tool-use.md
  docs/spec.md
  docs/test-coverage-analysis.md
  docs/tool-use-spec.md
  package.json
  tasks/archive/2026-01-08-idea-explorer/prd.json
  tasks/archive/2026-01-08-idea-explorer/progress.txt
  tasks/graceful-timeout-warning.md
  tasks/prd-idea-explorer.md
  tasks/prd-realtime-stream-capture.md
  tasks/prd-same-repo-sparse-checkout.md
  tasks/prd.json
  tasks/progress.txt
  tasks/simplify-architecture.md
  tasks/spec-claude-resume-sessions.md
Due: check

docs: update README with current project setup
  README.md
Due: none

chore: delete unneeded idea
  ideas/2026-01-25-a-recipe-generator/exploration-log.json
  ideas/2026-01-25-a-recipe-generator/research.md
Due: check

feat: add custom domain
  .vscode/settings.json
  alchemy.run.ts
  ideas/2026-01-10-a-bookmarking-app-that-encourages-me-to-surface/research.md
  ideas/2026-01-12-a-conlang-constructed-language-ai-agent-an-ai/research.md
  ideas/2026-01-12-minimalist-ai-calendar-app/research.md
  ideas/2026-01-12-zod-schemas-for-schemaorg-vocabulary-a-library/research.md
  ideas/2026-01-14-an-app-to-generate-simple-card-games-52-card-deck/research.md
  ideas/2026-01-14-i-find-the-recutils-format-from-gnu-really/research.md
  ideas/2026-01-21-build-an-app-to-scrape-free-resident-days-for/research.md
  ideas/2026-01-22-a-menubar-app-that-helps-me-see-all-my-workers/research.md
  ideas/2026-01-22-a-weird-variant-of-snake/research.md
  ideas/2026-01-22-build-an-app-to-scrape-free-resident-days-for/research.md
  ideas/2026-01-23-using-jdxusage-as-a-base-spec-for-cli-tools-built/research.md
  ideas/2026-01-24-an-app-that-takes-html-with-tailwind-utility/research.md
  ideas/2026-01-25-an-astro-integration-or-component-that-makes-it/research.md
Due: check, typecheck

Path conditions:
  check: any of: *.{js,ts,json,jsonc}
  typecheck: any of: *.ts
