Repository nbbaier/idea-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: check, typecheck

check:
  run: bun run check

typecheck:
  run: bun run typecheck

feat: fix wrangler
  alchemy.run.ts
  wrangler.jsonc
Due: check, typecheck

feat: add continue_from for follow-up explorations
  src/index.ts
  src/jobs.test.ts
  src/jobs.ts
  src/prompts/index.test.ts
  src/prompts/index.ts
  src/types/api.ts
  src/workflows/exploration.ts
Due: check, typecheck

feat: use Haiku 4.5 for concise slug generation
  src/utils/slug.ts
  src/workflows/exploration.test.ts
  src/workflows/exploration.ts
Due: check, typecheck

fix: correct listJobs metadata filtering and env validation
  src/env.ts
  src/jobs.ts
Due: check, typecheck

refactor: use merge to compose ExploreRequestSchema
  src/jobs.ts
Due: check, typecheck

Update src/jobs.ts
  src/jobs.ts
Due: check, typecheck

small comment removed
  alchemy.run.ts
Due: check, typecheck

Fix linter errors and schema validation logic
  bun.lock
  package.json
  pnpm-lock.yaml
  src/jobs.ts
  src/types/api.ts
  src/workflows/exploration.test.ts
Due: check, typecheck

Simplify error result construction and webhook handling
  src/clients/tool-executor.ts
  src/utils/webhook.ts
Due: check, typecheck

fix: make slug generation deterministic and safer
  src/utils/slug.ts
  src/workflows/exploration.ts
Due: check, typecheck

feat: add idea-explorer-architecture.html
  idea-explorer-architecture.html
Due: none

remove pnpm lock
  pnpm-lock.yaml
Due: none

feat: add web_search tool to AnthropicClient
  idea-explorer-architecture.html
  src/clients/anthropic.test.ts
  src/clients/anthropic.ts
  src/utils/slug.ts
Due: check, typecheck

add spec for ui
  idea-explorer-demo-ui-spec.md
Due: none

idea: i-dont-have-enough-context-to-generate-a - research complete
  ideas/2026-02-03-i-dont-have-enough-context-to-generate-a/research.md
Due: none

log: i-dont-have-enough-context-to-generate-a
  ideas/2026-02-03-i-dont-have-enough-context-to-generate-a/exploration-log.json
Due: check

idea: generic-content-slug - research complete
  ideas/2026-02-03-generic-content-slug/research.md
Due: none

log: generic-content-slug
  ideas/2026-02-03-generic-content-slug/exploration-log.json
Due: check

idea: hexadecimal-code-analysis - research complete
  ideas/2026-02-03-hexadecimal-code-analysis/research.md
Due: none

log: hexadecimal-code-analysis
  ideas/2026-02-03-hexadecimal-code-analysis/exploration-log.json
Due: check

idea: aa46deaf - research complete
  ideas/2026-02-03-aa46deaf/research.md
Due: none

log: aa46deaf
  ideas/2026-02-03-aa46deaf/exploration-log.json
Due: check

log: a-whimsical-mindfulness-app-that-makes-it-not-a
  ideas/2026-02-03-a-whimsical-mindfulness-app-that-makes-it-not-a/exploration-log.json
Due: check

idea: a-whimsical-mindfulness-app-that-makes-it-not-a - research complete
  ideas/2026-02-03-a-whimsical-mindfulness-app-that-makes-it-not-a/research.md
Due: none

idea: an-app-to-randomly-assign-me-journaling-quotes - research complete
  ideas/2026-02-03-an-app-to-randomly-assign-me-journaling-quotes/research.md
Due: none

log: an-app-to-randomly-assign-me-journaling-quotes
  ideas/2026-02-03-an-app-to-randomly-assign-me-journaling-quotes/exploration-log.json
Due: check

idea: a-journalling-app-that-prompts-me-every-day-to - research complete
  ideas/2026-02-04-a-journalling-app-that-prompts-me-every-day-to/research.md
Due: none

log: a-journalling-app-that-prompts-me-every-day-to
  ideas/2026-02-04-a-journalling-app-that-prompts-me-every-day-to/exploration-log.json
Due: check

idea: relaunch-micropubrocks-to-fix-issues-and-make - research updated
  ideas/2026-02-10-relaunch-micropubrocks-to-fix-issues-and-make/research.md
Due: none

log: relaunch-micropubrocks-to-fix-issues-and-make
  ideas/2026-02-10-relaunch-micropubrocks-to-fix-issues-and-make/exploration-log.json
Due: check

chore: ignore ideas/** in publish workflow
  .github/workflows/publish.yml
Due: none

fix: increase KV stream flush interval to avoid 429 rate limits
  src/index.ts
  src/workflows/exploration.ts
Due: check, typecheck

fix: resolve lint errors in architecture HTML
  .github/workflows/pr-preview.yml
  .github/workflows/process-ideas.yml
  .github/workflows/publish.yml
  .github/workflows/update-idea-status.yml
  idea-explorer-architecture.html
  public/demo.html
  public/index.html
  src/clients/anthropic.ts
  src/utils/stream-buffer.ts
  wrangler.jsonc
Due: check, typecheck

add spec for streaming ui
  docs/streaming-output-spec.md
  public/demo.html
  public/index.html
Due: none

feat: support job ID input in demo route and UI
  public/demo.html
  src/clients/anthropic.test.ts
  src/index.ts
  src/jobs.test.ts
  src/types/api.ts
  src/utils/slug.ts
  src/utils/webhook.test.ts
  src/workflows/exploration.test.ts
  src/workflows/exploration.ts
  wrangler.jsonc
Due: check, typecheck

chore: format yaml
  .github/workflows/pr-preview.yml
  .github/workflows/process-ideas.yml
  .github/workflows/publish.yml
  .github/workflows/update-idea-status.yml
Due: none

tweak deployment
  alchemy.run.ts
  ideas/2026-02-03-a-whimsical-mindfulness-app-that-makes-it-not-a/exploration-log.json
  ideas/2026-02-03-aa46deaf/exploration-log.json
  ideas/2026-02-03-an-app-to-randomly-assign-me-journaling-quotes/exploration-log.json
  ideas/2026-02-03-generic-content-slug/exploration-log.json
  ideas/2026-02-03-hexadecimal-code-analysis/exploration-log.json
  ideas/2026-02-03-i-dont-have-enough-context-to-generate-a/exploration-log.json
  ideas/2026-02-04-a-journalling-app-that-prompts-me-every-day-to/exploration-log.json
  ideas/2026-02-10-relaunch-micropubrocks-to-fix-issues-and-make/exploration-log.json
Due: check, typecheck

Add agentic workflow code-simplifier
  .gitattributes
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/code-simplifier.md
Due: none

Enhance documentation for GitHub Agentic Workflows agent
  .github/agents/agentic-workflows.agent.md
Due: none

Simplify alchemy.run.ts code
  alchemy.run.ts
Due: check, typecheck

Path conditions:
  check: any of: *.{js,ts,json,jsonc}
  typecheck: any of: *.ts
